@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;

  margin: 0;

  overflow: hidden;

  font-family: 'Roboto', sans-serif;
  color: #cdbe91; /* ? Boh, io il colore del font l'ho messo qui, va bene o metto per ogni testo la classe primary-...? */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tool-tag {
  transform: translate(-50%, -130%);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/*  EX CSS  */

.center {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  APP  */
/* ? Vuoi lasciare qui o fare qualcosa con tailwinds? */
.user-image {
  background-color: #2d2d2d;
}

.character-image {
  background-color: #2d2d2d;
}

/* ? Boh, roba di fonts */
.user-name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.characters-top h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.character-name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.character-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

/* LOADING */

.loading-bar {
  width: 0;
  bottom: -20px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.loading-bar.active {
  width: 16rem;
  bottom: 2.5rem;
  opacity: 1;
}